doctype 5
html
    head
        title = 'Tracffic Light'
        link(rel='stylesheet', href='./style.css')
    body
		.traffic-light
			.light-outer
				.first-light-decorate
				.light-inner  
					.light.red 
				.light-left-top-shade
				.light-left-bottom-shade
				.light-right-top-shade
				.light-right-bottom-shade
				.light-outer
				.light-inner   
					.light.yellow
				.light-left-top-shade
				.light-left-bottom-shade
				.light-right-top-shade
				.light-right-bottom-shade
				.light-outer
				.light-inner  
					.light.green 
				.light-left-top-shade
				.light-left-bottom-shade
				.light-right-top-shade
				.light-right-bottom-shade
				.traffic-light-shadow1
				.traffic-light-shadow2
				.traffic-light-shadow3
				.traffic-light-shadow4
  